body{
    width: 80%;
    position: relative;
    margin-left: 10%;
}
h1{
    display: block;
    text-align: center;
    font-size: 40px;
}

.section{
    display: inline-block;
    margin-right: 20px;
}